.main {
    margin: 0;
    padding: 0;

    background-image: url(../img/fon1.GIF);
background-repeat: no-repeat;
background-size: cover;
-moz-background-size: 100%;
-webkit-background-size: 100%;

}

.title {
    margin: 50px auto;
    text-align: center;

    font-family: 'Monotype Corsiva';
    font-size: 24px;
    font-weight: 600;
    text-decoration: underline;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
}

.textBorder {
    margin-left: 30px;

    width: 300px;
    background-color: yellow;
    border: 5px solid #4396F5;

    font-size: 20px;
}